/* importing nunito and roboto fonts  */
@import url('https://fonts.googleapis.com/css2?family=Nunito@500&family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

}

body{
    font-family: 'Nunito', sans-serif;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    user-select: none;
    outline: none;
}


/* ============================== main-navbar ================================== */

.main-navbar{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: linear-gradient(80deg, red, purple);
    box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.8);
    border-radius: 10px 10px 0 0;
    padding: 2px;
    overflow: hidden;
    max-width: 450px;
}

.links{
    display: flex;
    justify-content: space-around;
    /* background-color: violet; */
}

.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /* background-color: red; */
    color: #fff;
    width: 3rem;
    height: 3rem;
    transition: .7s ease-in;
}

.nav-link-icon{
    transition: .7s ease-in;
}

.nav-link-text{
    font-size: .7rem;
    transition: .7s ease-in;
}

/* .active-nav-link .nav-link-icon{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: aqua;
}

.active-nav-link .nav-link-text{
    font-size: 0;
} */

/* ============================== main-navbar over ================================== */



/* ============================== main-section ================================== */
.main-section{
    min-height: 100vh;
    background: linear-gradient(10deg, #750550, #570530, #4C0027);
}


/* ============================== main-section over ================================== */


/* ============================== home section ================================== */

.home-section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    animation: SCROLL_TO_TOP .7s ease-in-out;
}

@keyframes SCROLL_TO_TOP{
    0%{
        transform: translateY(100vh);
    }
    100%{
        transform: none;
    }
}

.home-image-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.myImage{
    width: 40vw;
    max-width: 170px;
    border-radius: 50%;
    border: 3px solid purple;
    padding: 2px;
}

.home-intro-section{
    font-size: 2rem;
    color: #fff;
}

.home-my-name{
    font-size: 3rem;
    background: linear-gradient(to right top, red, rgb(255, 0, 43), rgb(255, 73, 104), red, red);
    background-clip: text;
    color: rgba(0, 0, 0, 0);
}


/* ============================== home section over ================================== */