/* importing nunito and roboto fonts  */
@import url('https://fonts.googleapis.com/css2?family=Nunito@500&family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

:root{

}

body{
    font-family: 'Nunito', sans-serif;
}


/* ============================== main-navbar ================================== */

.main-navbar{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: rgb(255, 145, 0);
    border-radius: 10px 10px 0 0;
    padding: 2px;
    overflow: hidden;
    max-width: 450px;
}

.links{
    display: flex;
    justify-content: space-around;
    /* background-color: violet; */
}

.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: red;
    width: 3rem;
    height: 3rem;
    transition: .7s ease-in;
}

.nav-link-icon{
    color: #000;
    transition: .7s ease-in;
}

.nav-link-text{
    color: #000;
    font-size: .7rem;
    transition: .7s ease-in;
}

.active-nav-link .nav-link-icon{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: aqua;
}

.active-nav-link .nav-link-text{
    font-size: 0;
}

/* ============================== main-navbar over ================================== */

.main-section{
    min-height: 100vh;
    background: linear-gradient(10deg, rgb(43, 23, 43), rgb(54, 0, 54), rgb(121, 1, 1));
}

.home-section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.home-image-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.myImage{
    width: 40vw;
    max-width: 170px;
    border-radius: 50%;
    border: 3px solid purple;
    padding: 2px;
}

.home-intro-section{
    font-size: 2rem;
}

.home-my-name{
    font-size: 3rem;
    background: linear-gradient(to right top, red, purple, purple, red, red);
    background-clip: text;
    color: rgba(0, 0, 0, 0.2);
}